__pycache__/
*.py[cod]
*.pyc
*.log
*.pot
*.pid
db.sqlite3
media/
staticfiles/
logs/
.env
.env.local
venv/
env/
virtualenv/
tmp/
public_html/
.htaccess
passenger_wsgi.py
celerybeat-schedule
dump.rdb
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp